body {
    background-color: lightblue;
    font-family: 'Special Elite', cursive;
    margin: 50px;
}

nav {
    padding-bottom: 20px;
    font-size: 20px;
}

nav a {
    padding-right: 30px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color:midnightblue;
}

a:active {
    color: midnightblue;
}

nav a.active {
    color:midnightblue ;
}

header {
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    padding-top: 50px;
}

h3 {
    font-size: 25px;
}

p, ul {
    width: 50%;
    font-size: 25px;
}

p {
    padding-left: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.gross{
width:40%;
}
.keinabstand{
padding-top:0;
font-size:20pt;
}